@page "/terms"

@using SC.NewbLibrary.Model.Data
@using SC.NewbLibrary.Service
@inject NewbDataService NewbService

@*--------------------------------------------------------------------------------------------------------------------*@
@* https://github.com/dotnet/AspNetCore.Docs/tree/master/aspnetcore/blazor/common/samples/3.x/BlazorWebAssemblySample *@
@* Includes AJAX calls to a web API                                                                                   *@
@*--------------------------------------------------------------------------------------------------------------------*@



<h1>Terms</h1>

@code {
    private NewbData[] newbData;

    protected override async Task OnInitializedAsync()
    {
        newbData = await NewbService.GetNewbData();
    }
}

@if (newbData == null)
{
    <p><em>Loading...</em></p>
}
else
{
    // https://blazor.radzen.com/

    <div class="main-container">
        <div class="card-row">
            <div class="col-edit">Edit</div>
            <div class="col-term">Term</div>
            <div class="col-stretch">Terse</div>
            <div class="col-link">Link</div>
        </div>
        @foreach (var dataPoint in newbData)
        {
            <div class="card-container">
                <div class="card-row">
                    <div class="col-edit"><img src="/images/suggest.png" height="16" alt="Suggest an edit" /></div>
                    <div class="col-term"><strong>@dataPoint.Term</strong></div>
                    <div class="col-stretch"><strong>@dataPoint.Terse</strong></div>
                    <div class="col-link">
                        @if (dataPoint.HasLink)
                        {
                            <a href="@dataPoint.UriLink" target="other">@dataPoint.UriLink</a>
                        }
                    </div>
                </div>
                <div class="card-row">
                    <div class="col-edit"></div>
                    <div class="col-stretch"><i>@dataPoint.Definition</i></div>
                </div>
            </div>
        }
    </div>
}
